body {
  margin-left: 13%;
  margin-right: 13%;
}

.Question_1 {
  color: rgb(110, 110, 110);
  margin-top: 5%;
  background-color: bisque;
  border: 2px solid black;
}

#answer_question_1_a {
  color: orange;
}
#answer_question_1_b {
  color: orange;
}

.calculator {
  text-align: center;
  color: green;
  margin-top: 5%;
  background-color: rgb(235, 235, 235);
  border: 2px solid black;
  height: 80%;
}

#answer_calculator {
  text-align: right;
  width: 41.1%;
  height: 10%;
  margin-left: 29.5%;
  margin-right: 29.5%;
  background-color: rgb(219, 219, 219);
  border: 2px solid black;
  font-size: 150%;
}

.calculator_btns {
  height: 10%;
  width: 10%;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: rgb(100, 245, 100);
  box-shadow: 0 9px #999;
  margin: 0.5%;
}
.calculator_btns:hover {
  height: 10%;
  width: 10%;
  background-color: rgb(100, 245, 100);
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.calculator_btns:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#calculator_btn_answer {
  background-color: rgb(100, 245, 100);
  color: white;
  width: 44.1%;
}
#calculator_btn_answer:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(100, 245, 100);
}
#calculator_btn_answer:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rock_paper_scissors_game {
  background: url("img/paper background.jpg") no-repeat center center;
  text-align: center;
  color: black;
  margin-top: 5%;
  border: 2px solid black;
}
#new_game_rock_paper_scissors {
  background-color: #adadad;
  border: 0 solid #e5e7eb;
  line-height: 50%;
  padding: 0.75rem 1.65rem;
  width: 11.5%;
  transform: rotate(-2deg);
  margin-right: 1%;
  margin-bottom: 1%;
}

#new_game_rock_paper_scissors:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#new_game_rock_paper_scissors:hover:after {
  bottom: 2px;
  left: 2px;
}

.quiz_game {
  background: url("img/paper background.jpg") no-repeat center center;
  color: black;
  margin-top: 5%;
  background-color: bisque;
  border: 2px solid black;
}
#quiz_title {
  text-align: center center;
}

#new_gmae {
  background-color: yellow;
  border: 0 solid #e5e7eb;
  line-height: 50%;
  padding: 0.75rem 1.65rem;
  width: 16%;
  transform: rotate(-2deg);
  margin-right: 1%;
  margin-bottom: 1%;
}

#new_gmae:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#new_gmae:hover:after {
  bottom: 2px;
  left: 2px;
}

#submit {
  margin-top: 3%;
  font-size: 110%;
  background-color: yellow;
  border: 0 solid #e5e7eb;
  line-height: 50%;
  padding: 0.75rem 1.65rem;
  width: 17%;
  transform: rotate(-2deg);
  margin-right: 1%;
  margin-bottom: 1%;
}

#submit:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#submit:hover:after {
  bottom: 2px;
  left: 2px;
}

.json_ex1 {
  text-align: center;
  color: black;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-collapse: collapse;
}
#json_table {
  text-align: center;
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #444444;
  color: white;
}

th {
  background-color: #86b4a3;
  color: white;
}

.Simon_game {
  text-align: center;
  color: black;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(235, 235, 235);
  height: 95%;
  border: 2px solid black;
}

#simon_title {
  font-family: "8BIT WONDER", sans-serif;
  -webkit-font-smoothing: none;
}

#simon_level {
  font-family: "8BIT WONDER", sans-serif;
  -webkit-font-smoothing: none;
}

.Simon_btn {
  width: 24%;
  height: 24%;
  text-shadow: 1px 1px 0px #000000;
  font-size: 200%;
  border: 2px solid black;
  color: white;
}

#yellow_btn {
  background-color: yellow;
  box-shadow: 0 9px #999;
  margin-bottom: 2%;
  margin-right: 2%;
  border-radius: 100% 0 0 0;
}

#yellow_btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#blue_btn {
  background-color: blue;
  box-shadow: 0 9px #999;
  margin-bottom: 2%;
  border-radius: 0 100% 0 0;
}

#blue_btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#red_btn {
  background-color: red;
  box-shadow: 0 9px #999;
  margin-right: 2%;
  border-radius: 0 0 0 100%;
}
#red_btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#green_btn {
  background-color: green;
  box-shadow: 0 9px #999;
  border-radius: 0 0 100% 0;
}
#green_btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#new_game_simon {
  width: 8%;
  height: 8%;
  margin-top: 0.5%;
  margin-bottom: 1.5%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0 1px black inset, 0 0 0 3px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 black, 0 8px 0 1px rgba(255, 255, 255, 0.4),
    0 8px 8px 1px rgba(255, 255, 255, 0.5);

  font-family: "8BIT WONDER", sans-serif;
  -webkit-font-smoothing: none;
}
#new_game_simon:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
