body {
  margin-left: 13%;
  margin-right: 13%;
}

/* ////////////////////////////// my_details (get details form object) //////////////////////////////////////// */

.Question_1 {
  color: rgb(110, 110, 110);
  margin-top: 5%;
  background-color: bisque;
  border: 2px solid black;
}

#answer_question_1_a {
  color: orange;
}
#answer_question_1_b {
  color: orange;
}

/* ////////////////////////////// calculator //////////////////////////////////////// */

.calculator {
  text-align: center;
  color: green;
  margin-top: 5%;
  background-color: rgb(235, 235, 235);
  border: 2px solid black;
  height: 80%;
}

#answer_calculator {
  text-align: right;
  width: 41.1%;
  height: 10%;
  margin-left: 29.5%;
  margin-right: 29.5%;
  background-color: rgb(219, 219, 219);
  border: 2px solid black;
  font-size: 150%;
}

.calculator_btns {
  height: 10%;
  width: 10%;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: rgb(100, 245, 100);
  box-shadow: 0 9px #999;
  margin: 0.5%;
}
.calculator_btns:hover {
  height: 10%;
  width: 10%;
  background-color: rgb(100, 245, 100);
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.calculator_btns:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#calculator_btn_answer {
  background-color: rgb(100, 245, 100);
  color: white;
  width: 44.1%;
}
#calculator_btn_answer:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(100, 245, 100);
}
#calculator_btn_answer:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ////////////////////////////// Rock_Paper_Scissors_game //////////////////////////////////////// */

.rock_paper_scissors_game {
  background: url("imgs/paper background.jpg") no-repeat center center;
  text-align: center;
  color: black;
  margin-top: 5%;
  border: 2px solid black;
}
#new_game_rock_paper_scissors {
  background-color: #adadad;
  border: 0 solid #e5e7eb;
  line-height: 50%;
  padding: 0.75rem 1.65rem;
  width: 11.5%;
  transform: rotate(-2deg);
  margin-right: 1%;
  margin-bottom: 1%;
}

#new_game_rock_paper_scissors:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#new_game_rock_paper_scissors:hover:after {
  bottom: 2px;
  left: 2px;
}

/* ////////////////////////////// Quiz game  //////////////////////////////////////// */

.quiz_game {
  background: url("imgs/paper background.jpg") no-repeat center center;
  color: black;
  margin-top: 5%;
  background-color: bisque;
  border: 2px solid black;
}
#quiz_title {
  text-align: center center;
}

#new_gmae {
  background-color: yellow;
  border: 0 solid #e5e7eb;
  line-height: 50%;
  padding: 0.75rem 1.65rem;
  width: 16%;
  transform: rotate(-2deg);
  margin-right: 1%;
  margin-bottom: 1%;
}

#new_gmae:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#new_gmae:hover:after {
  bottom: 2px;
  left: 2px;
}

#submit {
  margin-top: 3%;
  font-size: 110%;
  background-color: yellow;
  border: 0 solid #e5e7eb;
  line-height: 50%;
  padding: 0.75rem 1.65rem;
  width: 17%;
  transform: rotate(-2deg);
  margin-right: 1%;
  margin-bottom: 1%;
}

#submit:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#submit:hover:after {
  bottom: 2px;
  left: 2px;
}

/* ////////////////////////////// Get json file with http //////////////////////////////////////// */

.json_ex1 {
  text-align: center;
  color: black;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-collapse: collapse;
}
#json_table {
  text-align: center;
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}

table#json_table tr:nth-child(odd) {
  background-color: #86b4a3;
  color: white;
}
table#json_table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table#json_table th {
  background-color: #86b4a3;
  color: white;
}

/* ////////////////////////////// Simon game  //////////////////////////////////////// */

.Simon_game {
  text-align: center;
  color: black;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(235, 235, 235);
  height: 95%;
  border: 2px solid black;
}

#simon_title {
  font-family: "8BIT WONDER", sans-serif;
  -webkit-font-smoothing: none;
}

#simon_level {
  font-family: "8BIT WONDER", sans-serif;
  -webkit-font-smoothing: none;
}

.Simon_btn {
  width: 24%;
  height: 24%;
  text-shadow: 1px 1px 0px #000000;
  font-size: 200%;
  border: 2px solid black;
  color: white;
}

#yellow_btn {
  background-color: yellow;
  box-shadow: 0 9px #999;
  margin-bottom: 2%;
  margin-right: 2%;
  border-radius: 100% 0 0 0;
}

#yellow_btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#blue_btn {
  background-color: blue;
  box-shadow: 0 9px #999;
  margin-bottom: 2%;
  border-radius: 0 100% 0 0;
}

#blue_btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#red_btn {
  background-color: red;
  box-shadow: 0 9px #999;
  margin-right: 2%;
  border-radius: 0 0 0 100%;
}
#red_btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#green_btn {
  background-color: green;
  box-shadow: 0 9px #999;
  border-radius: 0 0 100% 0;
}
#green_btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#new_game_simon {
  width: 8%;
  height: 8%;
  margin-top: 0.5%;
  margin-bottom: 1.5%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0 1px black inset, 0 0 0 3px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 black, 0 8px 0 1px rgba(255, 255, 255, 0.4),
    0 8px 8px 1px rgba(255, 255, 255, 0.5);

  font-family: "8BIT WONDER", sans-serif;
  -webkit-font-smoothing: none;
}
#new_game_simon:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ////////////////////////////// Memory game //////////////////////////////////////// */

.memory_game {
  margin-top: 5%;
  border: 2px solid black;
  text-align: center;
}

.board {
  background: url("imgs/memory_game/underwater.jpg") no-repeat center center
    fixed;
  box-sizing: border-box;
  justify-content: center;
}
.card {
  width: 42%;
  height: 42%;
}

#cmdNewGame {
  border: 0 solid #e5e7eb;
  line-height: 50%;
  padding: 0.75rem 1.65rem;
  width: 16%;
  transform: rotate(-2deg);
  margin-right: 1%;
  margin-bottom: 1%;
}

#cmdNewGame:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#cmdNewGame:active:after {
  bottom: 2px;
  left: 2px;
}

/* ////////////////////////////// Click counter with local storage //////////////////////////////////////// */

.click_counter_local_storage {
  background: url("img/paper background.jpg") no-repeat center center;
  margin-top: 5%;
  border: 2px solid black;
  font-style: Comic;
}

#click_me_counter {
  background-color: yellow;
  border: 0 solid #e5e7eb;
  line-height: 50%;
  padding: 0.75rem 1.65rem;
  width: 16%;
  transform: rotate(-2deg);
  margin-right: 1%;
  margin-bottom: 1%;
}

#click_me_counter:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#click_me_counter:active:after {
  bottom: 2px;
  left: 2px;
}

#click_me_reset {
  background-color: yellow;
  margin-top: 0.7%;
  border: 0 solid #e5e7eb;
  line-height: 50%;
  padding: 0.75rem 1.65rem;
  width: 16%;
  transform: rotate(-2deg);
  margin-right: 1%;
  margin-bottom: 1%;
}

#click_me_reset:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#click_me_reset:active:after {
  bottom: 2px;
  left: 2px;
}

/* ////////////////////////////// Login and logout with local storage //////////////////////////////////////// */

.log_in {
  background: url("imgs/login/background.jpg") no-repeat center center;
  height: 100%;
  text-align: center;
}
#login_form {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  border-radius: 10%;
  background-color: rgb(255, 255, 255, 0.33);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #04aa6d;
}

#login_submit {
  color: #04aa6d;
  width: 100%;
  padding: 14px 20px;
}

#login_submit:hover {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  background-color: #04aa6d;
}

.login_pic {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.login_pic {
  width: 40%;
  border-radius: 50%;
}
.sucsses_login {
  text-align: center;
}

#log_out_submit {
  color: #04aa6d;
  width: 20%;
  padding: 14px 20px;
}

#log_out_submit:hover {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  background-color: #04aa6d;
}

/* ////////////////////////////// Animal classes and extend (Object oriented)//////////////////////////////////////// */

.animals_classes {
  background-color: #a4bed6;
  margin-top: 10%;
  text-align: center;
  margin: 24px 0 12px 0;
}

input[id="animal_name"],
input[id="animal_destance"] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #3586d3;
}
#submit_new_animal {
  color: #3586d3;
  width: 30%;
  padding: 14px 20px;
}

#submit_new_animal:hover {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  background-color: #3586d3;
}

/* ////////////////////////////// Async analog clock //////////////////////////////////////// */

.clock {
  margin-top: 10%;
  text-align: center;
  background-color: rgb(219, 214, 214, 0.4);
  /* opacity: 0.8; */
  border-radius: 10% 10% 10% 10%;
}

.show_time {
  background: url("imgs/sync clock/watch.png") no-repeat center center;
  background-size: 83%;
  position: relative;
  margin: auto;
  height: 40vw;
  width: 40vw;
}

#clock_hour,
#clock_minute,
#clock_second {
  text-align: center center;
  position: absolute;
  background: rgb(231, 0, 0);
  border-radius: 60px;
  transform-origin: bottom;
}

#clock_hour {
  width: 1.8%;
  height: 18%;
  top: 39%;
  left: 49%;
  opacity: 0.8;
}

#clock_minute {
  width: 1.6%;
  height: 24%;
  top: 33%;
  left: 49%;
  opacity: 0.8;
}

#clock_second {
  width: 1%;
  height: 34%;
  top: 23%;
  left: 49.3%;
  opacity: 0.8;
}
